[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
matplotlib = "*"
wandb = "*"
typer-cli = "*"
tqdm = "*"
optuna-dashboard = "*"
optuna = "*"
pytorch-fid = "*"
torchdiffeq = "*"
normflows = "*"
pytorch-ignite = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
